* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    margin: 20px;
    text-align: left;
} 

.info p {
    padding: 2px;;
}